:root {
  --cell-size: 0px;
  --game-size: 0px;
}

#game-container {
  background-color: red;
  width: var(--game-size);
  height: var(--game-size);
}

.cell {
  background-color: blue;
  width: var(--cell-size);
  height: var(--cell-size);
  float: left;
  max-width: var(--game-size);
}

[value="2"] {
  background-color: aquamarine !important;
}

[value="4"] {
  background-color: lime !important;
}

[value="8"] {
  background-color: darkgreen !important;
}

[value="16"] {
  background-color: yellow !important;
}
